{{!-- <section>
    <div class="container-fluid">
 <div class="row">
    {{#each productsOrdered}}
         {{#each this.product}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-3 p-5 d-flex justify-content-center">
                  <div class="card" style="width: 18rem; height: 25rem;">
                    <a href="/product_details/{{this._id}}"><img src="/product_Images/{{this.allImages.[0].main_i}}"
                        class="card-img-top" alt="..."> </a>
                    <div class="card-body">
                      <h5 class="card-title">{{this.product_name}}</h5>
                      <h6 class="price">Rs.{{this.price}}</h6>
                     

                    </div>
                  </div>
                </div>
                {{/each}}
                {{/each}}
    </div>
</div>

</section> --}}
<h1>gjhj</h1>