<section class="contact" style="background-color: rgba(255, 191, 191, 1); ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="contactus_heading"
                    style="font-family:Georgia, 'Times New Roman', Times, serif, Times, serif ; text-align: center;margin-top: 150px; color: rgb(72, 13, 13);margin-bottom: 40px;">
                    About Us</h1>
                <div class="contact_map d-flex justify-content-center">
                    <img src="images/aboutus.png" alt="#">
                </div>
                <div class="row  d-flex justify-content-center" style="margin-top: 40px;">

                    <div class="main " style="width: 900px;  ">
                        <p class=" about_content text-center w-responsive mx-auto mb-5" style="font-size: 15px; font-weight: 400;font-family: cursive">We
                            are not just a bakery, we
                            are not just bakers. In fact, we are just like you, a bunch of food
                            lovers fascinated with sweet indulgence, who dreamt of creating an appetizing fairy land of
                            divine delicacies that relishes the utmost desires.<br>
                            Remaining reliable, efficient and at forefront of technology, It's my cake is committed to
                            customer satisfaction. We have trust and responsibility placed by thousands of happy
                            customers, we promise to deliver up to their expectations with our world class customer
                            support . Rose and cakes is there for you , whenever and wherever.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>