<section class="forgetVerify-otp" style="background-color: rgba(255, 191, 191, 1);">
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-8 col-lg-6 col-xl-4" style="margin-top: 50px;">
             <h3 class="loginh3 text-center ">OTP verification</h3>
                <form action="/forgetVerify_otp"  method="post">
                    <div class="form-outline mb-4 mt-5">
                        <input type="text" id="otp" name="otp" class="form-control form-control-lg"
                            placeholder="Enter your OTP" />
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg"style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: rgb(82, 10, 10); color: white;">
                        Verify</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
