<section class="forget_password " style="background-color: rgba(255, 191, 191, 1);height: 100vh;">
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-8 col-lg-6 col-xl-4" style="margin-top: 50px;">
             <h3 class="loginh3 text-center "style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(40, 6, 6);">Forget password</h3>
                <form action="/forget_password"  method="post">
                    <div class="form-outline  mt-5">
                        <input type="email" id="email" name="email" class="form-control form-control-lg"
                            placeholder="Enter your registered mail id" />
                    </div>
                    <div class=" text-lg-start mt-4 pt-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg"style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: rgb(82, 10, 10); color: white;">
                        Send reset link</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
