<section class="order-success mt-1" style="background-color: rgba(255, 191, 191, 1);">
    <div class="container ">
        <div class="row d-flex cart align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4  ">
                    <div class="col-md-6  pl-5">
                        <div class="text-center order-details ">
                            <div class="d-flex justify-content-center mb-5 flex-column align-items-center">
                                <span
                                    class="check1 " style="margin-left: 70px;"><i class='bx bx-check bx-tada bx-rotate-180'></i>
                                </span> 
                                <span
                                    class="font-weight-bold " style="margin-left: 70px;font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Your Order Confirmed
                                </span>
                            </div>
                            <a href="/orders-list"  class="btn btn-block order-button" style="width: 200px; margin-left: 40px; background-color: rgb(57, 11, 11); color: white;">Go to your Order</a>
                            {{!-- <button class="btn btn-danger btn-block order-button" style="width: 200px; margin-left: 40px;">Go to your Order</button> --}}
                        </div>
                    </div>
            </div>  
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="images/order-success.png" class="img-fluid" alt="Sample image">
            </div>      
        </div>        
    </div>
</section>