<section class="admin-login mt-5" style="background-color: rgba(255, 191, 191, 1); height:100vh">
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-8 col-lg-6 col-xl-4 mt-5">
                <h3 class="loginh3 text-center"
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(40, 6, 6);">
                    Reset password</h3>
                <form action="/reset_password" method="post" id="reset-form">



                    <div class="form-outline mb-3 mt-5">
                        <label class="form-label" for="form3Example4"
                            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(40, 6, 6);">Enter
                            New Password</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                            placeholder="Enter new password" required />
                        <input type="hidden" id="userid" name="userid" class="form-control form-control-lg"
                            value="{{user_id}}" />
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4"
                            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(40, 6, 6);">Confirm
                            Password</label>
                        <input type="password" id="repassword" name="repassword" class="form-control form-control-lg"
                            placeholder="Enter password again" required />

                    </div>



                    <div class="text-center  mt-4 pt-2">
                        <button type="submit" class="btn btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: rgb(82, 10, 10); color: white;">
                            Reset </a>
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</section>